<html>
    <head>
        <style>
        </style>
        <title>Sperre Web UI</title>
    </head>
    <body>
        <div class="header">
            <span id="links">
                <a href="/">Home</a>
            </span>
            <span id="address">
                {{ my_address}}
            </span>
        </div>
        <div class="messages">
            <hr/>
            {% for x in messages %}
            <a href="/conversation/{{ x['from'] }}"><h3>{{ x['from'] }}</h3></a>
                {{ x['message'] }}
                <hr/>
            {% endfor %} 
        </div>
    </body>
</html>
