<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <title>Sperre Web UI</title>
    </head>
    <body>
        <div class="header">
            <span id="links">
                <a href="/">Home |</a>
                <a href="/startconvo/">Start Conversation</a>
            </span>
            <span id="address">
                {{ my_address | e}}
            </span>
        </div>
        
        <div class="messages">
            <div id="messages">
                <hr/>
                {% if not messages %} You don't have any conversations started {% endif %}
            {% for x in messages %}
            <a href="/conversation/{{ x['from'] | e}}"><h3>{{ x['from'] | e}}</h3></a>
            {{ x['message'] | e }}
            <br/><br/><hr/>
                    {% endfor %}
        </div>
    </body>
</html>
